.header {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(./images/cow-landscape.jpg) center center no-repeat;
}

.navbar-custom .navbar-brand.logo-image img {
    width: 14rem;
    height: 4rem;
}